rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow create, delete: if false;

      match /ReceiptPDFs/{receiptId} {
        allow read: if request.auth.uid != null
                    && request.auth.uid == firestore.get(/databases/(default)/documents/receipts/$(receiptId.split('.pdf')[0])).data.userUid
                    && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.lastActionAt < (request.time - duration.value(1,'s'));
      }

      match /VendorLogos/{vendorId} {
        allow read: if request.auth != null;
      }
    }
  }
}
