@import '@fontsource/dm-sans/400.css';
@import '@fontsource/dm-sans/400-italic.css';
@import '@fontsource/dm-sans/500.css';
@import '@fontsource/dm-sans/500-italic.css';
@import '@fontsource/dm-sans/700.css';
@import '@fontsource/dm-sans/700-italic.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
}

@layer components {
  .btn-social {
    @apply px-5 py-2.5 w-full
            text-sm font-medium border rounded-lg
            inline-flex items-center justify-center gap-2
            hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-emerald-300
            disabled:cursor-not-allowed disabled:opacity-75;
  }
}
